ul{
           
    list-style: none;
    margin: 0;
    padding: 15px;
    float: right;
    
    /* transform: scale(1.5); */
}
li{
    display: inline;
    border: 1px solid black;
    border-style: initial;
    border-radius: 5px;
    margin: 12px;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* color: brown; */
   
}

li:hover{

    background-color:#f3e8ff;
   
}

body{
    /* background-size: 500px; */
    border: 0px;
    margin: 0px;
    background-attachment: scroll;
     background-color: #d2d2dd;
     /* background-image: url("https://images.pexels.com/photos/7580253/pexels-photo-7580253.jpeg?auto=compress&cs=tinysrgb&w=400"); */
     background-repeat: no-repeat;
     background-size: cover;

} 


.banner{
    background-image: url("https://images.unsplash.com/photo-1512069772995-ec65ed45afd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG1lZGljaW5lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1400&q=60");
    background-size: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.About{
    width: 299px;
    height: 14px;
    margin: 80px;
}

button a{
    text-decoration: none;

}

.topNav{
    /* border: 2px solid black; */
    background-color: rgb(122, 122, 146);
    border: 4px solid rgb(116, 100, 116);
    padding-left: 33px;
    height: 70px;
}

.search h2{
    position: absolute;
    top: 30%;
    left: 50%;

}

.search .searchbox{
    position: absolute;
    top: 37%;
    left: 50%;
    border-style: initial;
    border: 2px solid grey;
    border-radius: 11px;
    margin-top: 8px;
    font-size: 17px;
    width: 617px;
    height: 42px;
    
}

.search .searchicon{
    position: absolute;
    top: 40%;
    left: 94%;
    border: none;
    
}

.customicon{
    position: absolute;
    top: 40%;
    left: 94%;
    border: none;
    font-size: 20px!important;
    background-color: white;
}

/* .product{
    display: inline;
} */
#Box1{
    margin: 34px;
    display: flex;
}


.Box1content{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 20px;
    border-radius: 28px;
    background: #f2f2f2;
    
    
}

.Box1content img{
    height: 160px;
    /* height: 300px; */
    margin: auto;
    display: block;
    /* width: 332px;
    padding: 22px;
     */
} 

.choose img{
    width: 500px;
    height: 619px;
    /* border: 2px solid grey; */
    margin: 64px;
    padding: 30px;
    border-radius: 89px;
}




/* footer{
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 47px;
} */
